@import "tailwindcss";

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3c3939 #000000; /* thumb color, track color */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ff0000; /* Red thumb */
  border-radius: 8px;
  backdrop-filter: blur(2px);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000000; /* Black track */
  border-radius: 8px;
}