@import "tailwindcss";

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.7) #fff; /* thumb, track */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  height: 16px;
  background: #fff;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.7);
  border-radius: 50%;
  min-width: 16px;
  min-height: 16px;
  box-shadow: 0 0 16px 8px rgba(0,0,0,0.3);
  backdrop-filter: blur(4px);
  /* For Safari */
  -webkit-backdrop-filter: blur(4px);
  border: 4px solid #fff;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.85);
}